<!doctype html>
<html>
<head>
    <title>Holoscanner Viewer</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static',
                            filename='libs/long.min.js') }}"></script>
    <script src="{{ url_for('static',
                            filename='libs/bytebuffer.min.js') }}"></script>
    <script src="{{ url_for('static',
                            filename='libs/protobuf.js') }}"></script>
    <script src="{{ url_for('static',
                            filename='libs/three.min.js') }}"></script>
    <script src="{{ url_for('static',
                            filename='libs/OrbitControls.js') }}"></script>
    <script src="{{ url_for('static',
                            filename='viewer.js') }}"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='viewer.css') }}" />
</head>
<body>
<div id="controls">
    <button id="reset-meshes">Reset Meshes</button>
    <button id="reset-game-state">Reset Game State</button>
    <button id="update-targets">Update Targets</button>
    <button id="acquire-target">Acquire Target</button>
</div>
<div id="scoreboard">

</div>
<div id="canvas"></div>
</body>
</html>
