html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Avenir Next', 'Helvetica';
    font-size: 0.9em;
}

#canvas {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    border-radius: 10px;
    background: #333;
    color: #fff;
    vertical-align: middle;
}

#controls label {
    margin: 0;
}

#controls button {
}

#scoreboard {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

#scoreboard span {
    font-weight: bold;
}

.client-status {
    margin-left: 3px;
}

.client-ready {
    color: #62CC3F;
}

.client-not-ready {
    color: #BF443B
}
